:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

*{
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

body{
  color: var(--text-color);
  background: var(--backgrond); 
}

.cabecalho{
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;

}

.cabecalho a{
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
}

.cabecalho a:hover{
  color:chartreuse;;
}

.cabecalho li{
  list-style: none;
  display: inline;
}

.cabecalho button{
  background: none;
  border: 1px solid var(--button);
  padding: 5px 30px;
  border-radius: 4px;
  color: var(--text-color);
  margin-left: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

.cabecalho button:hover{
  border: 1px solid chartreuse;
}

.cabecalho p{
  display: none;
}

.conteudo h1{
  margin: 40px 0 0 ;
  text-align: center;
  font-size: 80px;
  color: var(--text-color);
}

.conteudo .greatCode{
  color:var(--backgrond);
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

.coffeContainer{
  display: flex;
  justify-content: center;
  background-image: url(./assets/blur-1.png);
  background-repeat: no-repeat;
  max-width: 100%;
}

.coffeContainer img{
  width: 100%
}

.blurRight{
  background-image: url(./assets/blur-2.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  
}


#btn-mobile{
  visibility: hidden;
}

#logoMobile{
  display: none;
}

@media(max-width: 768px){
 
  #btn-mobile{
    visibility: visible;
    background: url(./assets/menu-buguer-open.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  #btn-mobile.active{
    background: url(./assets/menu-buguer-close.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  #logoMobile{
    display: block;
  }

  #logoDesktop{
    display: none;
  }

.logo{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}
.blurRight{
  background:none;
  width: 100%;
  margin: 0 auto;
}
.cabecalho{
  flex-wrap: wrap;

}

.cabecalho nav,.cabecalho li{
  display: block;
  width: 100%;
  
}

.cabecalho li{
  border-bottom: 1px solid var(--border);
  padding: 1.5rem;
  font-size: 18px;
}

.cabecalho ul{
  padding: 0;
  display: none;
 
}
.cabecalho p{
  display: flex;
  font-size: 2rem;
  text-align: center;
  padding: 40px 10px;
}

.cabecalho .active ul{
  display: block;
  height: 100vh;
}

.cabecalho button{
  cursor: pointer;
}

.cabecalho button:hover {
  border: 1px solid chartreuse;
}

.conteudo h1{
  font-size: 3.2rem;
}


}
